flow.json
[
  {
    "id": "4984ea084ad4e995",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/control",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 480,
    "y": 160,
    "wires": [["4e8a7e5746d03d68", "39e47572d9b8b7d3"]]
  },
  {
    "id": "740577402d6630bf",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/alert",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 460,
    "y": 520,
    "wires": [["387bb9e2891021f1"]]
  },
  {
    "id": "da7d178dfde2d8d0",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/temp",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 480,
    "y": 340,
    "wires": [["5d57654e727deaf0", "674cfe7f5aa740a2"]]
  },
  {
    "id": "ee3bd71a164c307d",
    "type": "mqtt out",
    "z": "96e260f3739eee2e",
    "name": "Temperatura Externa",
    "topic": "entrada/temp/externa",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "146e5f6ac5fbe23f",
    "x": 780,
    "y": 760,
    "wires": []
  },
  {
    "id": "ec909fc2b0d7ca72",
    "type": "mqtt out",
    "z": "96e260f3739eee2e",
    "name": "Carga Térmica",
    "topic": "entrada/cargaTermica",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "146e5f6ac5fbe23f",
    "x": 760,
    "y": 820,
    "wires": []
  },
  {
    "id": "cc51dfc232bcfa44",
    "type": "ui_slider",
    "z": "96e260f3739eee2e",
    "name": "Temperatura Externa ",
    "label": "Temperatura Externa",
    "tooltip": "",
    "group": "9349b287c3aae238",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": "10",
    "max": "45",
    "step": 1,
    "className": "",
    "x": 460,
    "y": 760,
    "wires": [["ee3bd71a164c307d"]]
  },
  {
    "id": "e513c159c40dcc14",
    "type": "ui_slider",
    "z": "96e260f3739eee2e",
    "name": "Carga Térmica",
    "label": "Carga Térmica",
    "tooltip": "",
    "group": "cc5398066f3fbe9b",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "100",
    "step": 1,
    "className": "",
    "x": 440,
    "y": 820,
    "wires": [["ec909fc2b0d7ca72"]]
  },
  {
    "id": "5d57654e727deaf0",
    "type": "ui_gauge",
    "z": "96e260f3739eee2e",
    "name": "",
    "group": "01deeb65b3b2611d",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperatura Atual",
    "label": "Gaus °",
    "format": "{{value}}",
    "min": "16",
    "max": "32",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "26",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 910,
    "y": 320,
    "wires": []
  },
  {
    "id": "674cfe7f5aa740a2",
    "type": "ui_chart",
    "z": "96e260f3739eee2e",
    "name": "",
    "group": "61048d0950c45a4a",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Histórico Temp",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 920,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "4e8a7e5746d03d68",
    "type": "ui_gauge",
    "z": "96e260f3739eee2e",
    "name": "",
    "group": "01deeb65b3b2611d",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Potência CRAC",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 840,
    "y": 160,
    "wires": []
  },
  {
    "id": "c4de9e633fa6bb31",
    "type": "function",
    "z": "96e260f3739eee2e",
    "name": "function 1",
    "func": "let p = msg.payload;\n\n// pega os campos principais\nlet severity = (p?.severity || \"info\").toLowerCase();\nlet type = p?.type || \"alerta\";\nlet message = p?.message || \"sem mensagem\";\nlet temp = p?.data?.temperature || \"N/A\";\nlet ts = p?.timestamp || new Date().toISOString();\n\n// monta título e corpo\nmsg.topic = `[${severity.toUpperCase()}] ${type}`;\nmsg.payload = `${message} | Temperatura: ${temp} no instante ${ts}`;\n\n// opcional: cor do toast\nlet color = \"blue\";\nif (severity === \"crítica\") color = \"red\";\nelse if (severity === \"alta\") color = \"orange\";\nelse if (severity === \"média\") color = \"yellow\";\nelse if (severity === \"baixa\") color = \"green\";\n\nmsg.ui_control = { highlight: color, position: \"top right\" };\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 520,
    "wires": [["980e08428802d7e8"]]
  },
  {
    "id": "1e94c0bd1105b252",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/img/rules",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 470,
    "y": 680,
    "wires": [["6ca71f4b842fc35f"]]
  },
  {
    "id": "6ca71f4b842fc35f",
    "type": "ui_template",
    "z": "96e260f3739eee2e",
    "group": "ba270a6d39058231",
    "name": "",
    "order": 0,
    "width": "10",
    "height": "20",
    "format": "<div style=\"text-align:center\">\n    <img src=\"{{msg.payload}}\" width=\"100%\" alt=\"Funções de Pertinência\">\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 720,
    "y": 680,
    "wires": [[]]
  },
  {
    "id": "387bb9e2891021f1",
    "type": "json",
    "z": "96e260f3739eee2e",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 710,
    "y": 520,
    "wires": [["c4de9e633fa6bb31"]]
  },
  {
    "id": "980e08428802d7e8",
    "type": "ui_toast",
    "z": "96e260f3739eee2e",
    "position": "bottom right",
    "displayTime": "1",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "",
    "x": 1110,
    "y": 520,
    "wires": []
  },
  {
    "id": "39e47572d9b8b7d3",
    "type": "ui_chart",
    "z": "96e260f3739eee2e",
    "name": "Histórico PCRAR",
    "group": "61048d0950c45a4a",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Histórico PCRAR",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 850,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "2a2e4784f1165603",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/inference",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 1090,
    "y": 680,
    "wires": [["8b061a89b1b6ec47"]]
  },
  {
    "id": "8b061a89b1b6ec47",
    "type": "json",
    "z": "96e260f3739eee2e",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1310,
    "y": 680,
    "wires": [["118f87444bd42b2a"]]
  },
  {
    "id": "9b65720a9edf425a",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/inference/img",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 790,
    "y": 1000,
    "wires": [["752245ad43e6d720"]]
  },
  {
    "id": "752245ad43e6d720",
    "type": "ui_template",
    "z": "96e260f3739eee2e",
    "group": "d6487a88fa69f4e1",
    "name": "",
    "order": 0,
    "width": "0",
    "height": "0",
    "format": "<div style=\"text-align:center\">\n    <img ng-src=\"{{msg.payload}}\" style=\"max-width:100%; height:auto;\" />\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 1280,
    "y": 1000,
    "wires": [[]]
  },
  {
    "id": "118f87444bd42b2a",
    "type": "function",
    "z": "96e260f3739eee2e",
    "name": "Parse Inference ",
    "func": "// Parse Inference (robusto)\nlet p = msg.payload;\n\n// Se payload for string, tenta parsear JSON; se falhar, ignora\nif (typeof p === 'string') {\n    try {\n        p = JSON.parse(p);\n    } catch (e) {\n        // mensagem inválida: não propaga para widgets que esperam objeto\n        node.warn(\"Parse Inference: payload string inválida, ignorando\");\n        return [ null, null, null ];\n    }\n}\n\n// garantir estrutura mínima\np = p || {};\nlet operating = p.operating_point || {};\nlet defuzz = (p.defuzzified !== undefined) ? p.defuzzified : null;\nlet rules = Array.isArray(p.rules) ? p.rules : [];\n\n// montar linhas para ui_table\nlet rows = rules.map(r => {\n    return {\n        id: r.id,\n        antecedents: Object.entries(r.antecedents || {}).map(([k,v]) => `${k}:${Number(v).toFixed(3)}`).join(' ; '),\n        activation: (r.activation !== undefined) ? Number(r.activation).toFixed(4) : '',\n        consequent: r.consequent || ''\n    };\n});\n\n// saída 1: tabela de regras\nlet msg_table = { payload: rows };\n\n// saída 2: operação (objeto)\nlet msg_oper = { payload: {\n    timestamp: p.timestamp || new Date().toISOString(),\n    T: (operating.T !== undefined) ? operating.T : null,\n    pcrac: (operating.pcrac !== undefined) ? operating.pcrac : null,\n    erro: (operating.erro !== undefined) ? operating.erro : null,\n    var_erro: (operating.var_erro !== undefined) ? operating.var_erro : null,\n    defuzzified: defuzz\n}};\n\n// saída 3: chart (valor único)\nlet msg_chart = { payload: { timestamp: p.timestamp || new Date().toISOString(), defuzzified: defuzz } };\n\nreturn [ msg_table, msg_oper, msg_chart ];",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1500,
    "y": 680,
    "wires": [[], ["eef124bca1d5f050"], ["0c502aecf1cbdc58"]]
  },
  {
    "id": "bbf687b087bdd400",
    "type": "ui_chart",
    "z": "96e260f3739eee2e",
    "name": "",
    "group": "9fae2c7c06a75254",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Histórico fuzy",
    "chartType": "line",
    "legend": "true",
    "xformat": "{{msg.payload}}",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1960,
    "y": 780,
    "wires": [[]]
  },
  {
    "id": "eef124bca1d5f050",
    "type": "function",
    "z": "96e260f3739eee2e",
    "name": "function 2",
    "func": "let p = msg.payload || {};\nlet ts = p.timestamp ? new Date(p.timestamp).toLocaleString('pt-BR') : \"sem horário\";\nlet T = (p.T !== null && p.T !== undefined) ? p.T : \"N/A\";\nlet pcrac = (p.pcrac !== null && p.pcrac !== undefined) ? p.pcrac : \"N/A\";\nlet def = (p.defuzzified !== null && p.defuzzified !== undefined) ? p.defuzzified : \"N/A\";\n\nmsg.payload = `Hora: ${ts} | T: ${T} °C | PCRAC: ${pcrac}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1700,
    "y": 680,
    "wires": [["0f403533ec367da7"]]
  },
  {
    "id": "0c502aecf1cbdc58",
    "type": "function",
    "z": "96e260f3739eee2e",
    "name": "Format History Point",
    "func": "// msg.payload = { timestamp: \"...\", defuzzified: number }\nlet p = msg.payload || {};\nlet def = p.defuzzified;\nif (def === null || def === undefined || isNaN(Number(def))) return null;\n\n// enviar como valor simples com timestamp em ms\nreturn {\n    payload: Number(def),\n    topic: \"defuzz\",\n    timestamp: new Date(p.timestamp || Date.now()).getTime()\n};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1740,
    "y": 780,
    "wires": [["bbf687b087bdd400"]]
  },
  {
    "id": "0f403533ec367da7",
    "type": "ui_text",
    "z": "96e260f3739eee2e",
    "group": "69e87a99a71e2b77",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Operação",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 1940,
    "y": 680,
    "wires": []
  },
  {
    "id": "0e788ad9f5aa746c",
    "type": "ui_button",
    "z": "96e260f3739eee2e",
    "name": "",
    "group": "ee0107caaeb5bfcd",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Resetar Valores",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "reset",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 1340,
    "y": 240,
    "wires": [["b3873f8741a782fb"]]
  },
  {
    "id": "b3873f8741a782fb",
    "type": "mqtt out",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/reset",
    "qos": "",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "146e5f6ac5fbe23f",
    "x": 1640,
    "y": 240,
    "wires": []
  },
  {
    "id": "146e5f6ac5fbe23f",
    "type": "mqtt-broker",
    "name": "",
    "broker": "test.mosquitto.org",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "9349b287c3aae238",
    "type": "ui_group",
    "name": "Temperatura Externa",
    "tab": "bfe4241a382f677d",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "cc5398066f3fbe9b",
    "type": "ui_group",
    "name": "Carga Térmica",
    "tab": "bfe4241a382f677d",
    "order": 2,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "01deeb65b3b2611d",
    "type": "ui_group",
    "name": "Potencia/Temp",
    "tab": "0c13c4e6f1df5330",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "61048d0950c45a4a",
    "type": "ui_group",
    "name": "Grafico",
    "tab": "0c13c4e6f1df5330",
    "order": 4,
    "disp": true,
    "width": "19",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ba270a6d39058231",
    "type": "ui_group",
    "name": "Visualização Fuzzy",
    "tab": "bfe4241a382f677d",
    "order": 3,
    "disp": true,
    "width": "10",
    "collapse": false,
    "className": ""
  },
  {
    "id": "d6487a88fa69f4e1",
    "type": "ui_group",
    "name": "Imagem",
    "tab": "38435eb335ca5034",
    "order": 4,
    "disp": true,
    "width": "15",
    "collapse": false,
    "className": ""
  },
  {
    "id": "9fae2c7c06a75254",
    "type": "ui_group",
    "name": "Histórico",
    "tab": "38435eb335ca5034",
    "order": 3,
    "disp": true,
    "width": "11",
    "collapse": false,
    "className": ""
  },
  {
    "id": "69e87a99a71e2b77",
    "type": "ui_group",
    "name": "Operação",
    "tab": "38435eb335ca5034",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ee0107caaeb5bfcd",
    "type": "ui_group",
    "name": "Reset",
    "tab": "bfe4241a382f677d",
    "order": 4,
    "disp": true,
    "width": "7",
    "collapse": false,
    "className": ""
  },
  {
    "id": "bfe4241a382f677d",
    "type": "ui_tab",
    "name": "Perturbações",
    "icon": "dashboard",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "0c13c4e6f1df5330",
    "type": "ui_tab",
    "name": "Monitoramento",
    "icon": "dashboard",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "38435eb335ca5034",
    "type": "ui_tab",
    "name": "Fuzzy Inference",
    "icon": "dashboard",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "c6aac821a5b09ac4",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]
