flow.json
[
  {
    "id": "96e260f3739eee2e",
    "type": "tab",
    "label": "fuzzy-miso",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4984ea084ad4e995",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/control",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 340,
    "y": 200,
    "wires": [["4e8a7e5746d03d68"]]
  },
  {
    "id": "740577402d6630bf",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/alert",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 340,
    "y": 440,
    "wires": [["c4de9e633fa6bb31", "75e2c9ea53ab265d"]]
  },
  {
    "id": "da7d178dfde2d8d0",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/temp",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 340,
    "y": 300,
    "wires": [["5d57654e727deaf0", "674cfe7f5aa740a2"]]
  },
  {
    "id": "f55a1e4a434ed9aa",
    "type": "ui_toast",
    "z": "96e260f3739eee2e",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 1,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "Temperatura fora dos limites seguros",
    "name": "Alerta Critico",
    "x": 750,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "ee3bd71a164c307d",
    "type": "mqtt out",
    "z": "96e260f3739eee2e",
    "name": "Temperatura Externa",
    "topic": "entrada/temp/externa",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "146e5f6ac5fbe23f",
    "x": 700,
    "y": 640,
    "wires": []
  },
  {
    "id": "ec909fc2b0d7ca72",
    "type": "mqtt out",
    "z": "96e260f3739eee2e",
    "name": "Carga Térmica",
    "topic": "entrada/cargaTermica",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "146e5f6ac5fbe23f",
    "x": 680,
    "y": 700,
    "wires": []
  },
  {
    "id": "cc51dfc232bcfa44",
    "type": "ui_slider",
    "z": "96e260f3739eee2e",
    "name": "Temperatura Externa ",
    "label": "Temperatura Externa",
    "tooltip": "",
    "group": "9349b287c3aae238",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": "10",
    "max": "45",
    "step": 1,
    "className": "",
    "x": 380,
    "y": 640,
    "wires": [["ee3bd71a164c307d"]]
  },
  {
    "id": "e513c159c40dcc14",
    "type": "ui_slider",
    "z": "96e260f3739eee2e",
    "name": "Carga Térmica",
    "label": "Carga Térmica",
    "tooltip": "",
    "group": "cc5398066f3fbe9b",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "100",
    "step": 1,
    "className": "",
    "x": 360,
    "y": 700,
    "wires": [["ec909fc2b0d7ca72"]]
  },
  {
    "id": "5d57654e727deaf0",
    "type": "ui_gauge",
    "z": "96e260f3739eee2e",
    "name": "",
    "group": "61048d0950c45a4a",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperatura Atual",
    "label": "units",
    "format": "{{value}}",
    "min": "16",
    "max": "32",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "26",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 830,
    "y": 280,
    "wires": []
  },
  {
    "id": "674cfe7f5aa740a2",
    "type": "ui_chart",
    "z": "96e260f3739eee2e",
    "name": "",
    "group": "61048d0950c45a4a",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Histórico Temp",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 840,
    "y": 360,
    "wires": [[]]
  },
  {
    "id": "4e8a7e5746d03d68",
    "type": "ui_gauge",
    "z": "96e260f3739eee2e",
    "name": "",
    "group": "61048d0950c45a4a",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Potência CRAC",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 700,
    "y": 200,
    "wires": []
  },
  {
    "id": "c4de9e633fa6bb31",
    "type": "function",
    "z": "96e260f3739eee2e",
    "name": "function 1",
    "func": "// O payload já é um objeto, como: {nivel: \"OK\", msg: \"Normal\"}\nconst nivel = msg.payload.nivel;\nconst mensagem = msg.payload.msg;\n\nif (nivel === \"CRITICO\") {\n    // Se for CRÍTICO, formata a mensagem para o nó Notificação\n    msg.payload = {\n        content: `🚨 ALERTA: ${mensagem} (Temperatura: ${msg.payload.val}°C)`,\n        timeout: 5000 // A mensagem desaparecerá após 5 segundos\n    };\n    msg.topic = nivel; // Pode ser usado para definir o estilo\n    return msg;\n} else {\n    // Se for 'OK', não envia nada ou envia um log silencioso\n    return null; \n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 440,
    "wires": [["6bcac9f4b5fb3d68", "f55a1e4a434ed9aa", "96292ab7ccf91ccc"]]
  },
  {
    "id": "6bcac9f4b5fb3d68",
    "type": "ui_text",
    "z": "96e260f3739eee2e",
    "group": "61048d0950c45a4a",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Status do Sistema",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 730,
    "y": 480,
    "wires": []
  },
  {
    "id": "1e94c0bd1105b252",
    "type": "mqtt in",
    "z": "96e260f3739eee2e",
    "name": "",
    "topic": "datacenter/fuzzy/img/rules",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "146e5f6ac5fbe23f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 410,
    "y": 560,
    "wires": [["6ca71f4b842fc35f"]]
  },
  {
    "id": "6ca71f4b842fc35f",
    "type": "ui_template",
    "z": "96e260f3739eee2e",
    "group": "ba270a6d39058231",
    "name": "",
    "order": 0,
    "width": "10",
    "height": "20",
    "format": "<div style=\"text-align:center\">\n    <img src=\"{{msg.payload}}\" width=\"100%\" alt=\"Funções de Pertinência\">\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 640,
    "y": 560,
    "wires": [[]]
  },
  {
    "id": "75e2c9ea53ab265d",
    "type": "debug",
    "z": "96e260f3739eee2e",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 380,
    "wires": []
  },
  {
    "id": "96292ab7ccf91ccc",
    "type": "debug",
    "z": "96e260f3739eee2e",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 400,
    "wires": []
  },
  {
    "id": "146e5f6ac5fbe23f",
    "type": "mqtt-broker",
    "name": "",
    "broker": "test.mosquitto.org",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "9349b287c3aae238",
    "type": "ui_group",
    "name": "Temperatura Externa",
    "tab": "bfe4241a382f677d",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "cc5398066f3fbe9b",
    "type": "ui_group",
    "name": "Carga Térmica",
    "tab": "bfe4241a382f677d",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "61048d0950c45a4a",
    "type": "ui_group",
    "name": "Monitoramento",
    "tab": "bfe4241a382f677d",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "ba270a6d39058231",
    "type": "ui_group",
    "name": "Visualização Fuzzy",
    "tab": "bfe4241a382f677d",
    "order": 4,
    "disp": true,
    "width": "10",
    "collapse": false,
    "className": ""
  },
  {
    "id": "bfe4241a382f677d",
    "type": "ui_tab",
    "name": "Perturbações",
    "icon": "dashboard",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "7ae74842db74b78c",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]
